:root {
  --black: #1c1817;
  --green-pear: #8faf7e;
  --white-desert: #fffdeb;
  --red-leather: #463131;
  --red-velvet: #c81d04;
  --red-velvet-dark: #b70000;
  --yellow-mellow: #faef8a;
  --yellow-mellow-75: #faef8abf;
  --yellow-mellow-95: #faef8af2;

  --global-margin: 24px;
  --global-column-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: var(--black);
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: unset;
}

img {
  display: block;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

/* Header ------------------------------------------------------ */
header {
  background-color: var(--white-desert);
  background: linear-gradient(
    to top,
    #afafaf 1px,
    #afafaf 1px,
    var(--white-desert) 1px,
    var(--white-desert) 30px
  );
  background-size: 100% 26px;
}

header img {
  max-height: 85px;
  max-width: 20vw;
  /* margin-left: 20px; */
  margin-left: var(--global-margin);
}

.header-mob {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-mob h1 {
  font-size: 40px;
}

.header-desk {
  display: none;
}

.header-desk-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-desk img {
  display: flex;
  margin-top: 10px;
}

.title-mob {
  margin: 0;
  font-size: 3em;
}

.title-desk-content {
  margin-left: 50px;
}

.title-desk {
  margin: 0;
  font-size: 4.3em;
}

/* Header-->Navigation ----------------------------------------- */
.nav-container-mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  padding: 0 var(--global-margin) 0 3vw;
  background-color: var(--white-desert);
}

.nav-container-mob > div {
  cursor: pointer;
}

.nav-container-mob > div > div {
  width: 7vw;
  height: 3px;
  background-color: var(--black);
  margin: 6px 0;
}

.nav-container-desk {
  display: flex;
  gap: 60px;
  margin-top: 80px;
  /* margin-right: 40px; */
  margin-right: var(--global-margin);
  margin-left: auto;
}

.nav-container-desk p {
  /* margin-right: 20px; */
  font-weight: bold;
  cursor: pointer;
}

.nav-container-desk p:last-child {
  margin-right: 0;
}
/* Hero -------------------------------------------------------- */
.hero {
  background-color: var(--black); /* Used if the image is unavailable */
  height: 56.25vw; /* 56% of viewport width */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero > .card {
  padding: 8px 8px 8px var(--global-margin);
  background-color: var(--yellow-mellow-75);
  cursor: pointer;
}

.hero > .card:hover,
.hero > .card:active {
  background-color: var(--yellow-mellow);
}

.hero > .card > h2 {
  font-size: 16px;
  font-weight: bold;
}

.hero > button.play {
  background-color: var(--yellow-mellow-75);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.hero > button.play:hover,
.hero > button.play:active {
  background-color: var(--yellow-mellow);
}

button.play > .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--black);
  transform: translateX(10px);
  opacity: 0.25;
  transition: color 150ms ease-in-out;
}
/* Footer ------------------------------------------------------ */
footer {
  background-color: var(--green-pear);
  color: var(--white-desert);
  margin: var(--global-column-gap) var(--global-margin);
  padding: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
}

.footer-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
}

.footer-card:nth-of-type(1),
.footer-card:nth-of-type(2),
.footer-card:nth-of-type(3) {
  padding-right: 12px;
  border-right: 1px solid var(--white-desert);
}

footer h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

footer span {
  font-size: 10px;
}

.footer-card > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.footer-card.desktop-only {
  display: none;
}

footer img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* Index: Hero -------------------------------------------------------- */
.hero.index {
  background-image: url("images/hero.png");
}

.hero.index > .card {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Index: This month -------------------------------------------------- */
/* Heading Text Mobile */
.movie-card-heading-mob {
  color: var(--white-desert);
  margin-left: var(--global-margin);
  margin-top: var(--global-margin);
  font-size: 24px;
}

/* Movie Card Mobile Text Size */
.movie-card-mob h2,
.movie-card-mob p {
  font-size: 16px;
}

.movie-scroll-container {
  display: none;
}

/* Movie Card Mobile Scroll */
.movie-card-container-mob {
  display: flex;
  overflow-x: scroll;
  margin: var(--global-margin);
  gap: var(--global-column-gap);
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent transparent;
  /* scrollbar-width: 0px; */
}

.movie-card-container-mob::-webkit-scrollbar {
  display: none;
}

/* Movie Card Mobile Scroll */
.movie-card-container-mob > div {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

/* Movie Card Mobile */
.movie-card-mob {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Movie Card Mobile Image */
.movie-card-mob img,
.text-wrapper {
  width: 100%;
  height: auto;
}

/* Movie Card Container Desktop Hidden */
.movie-card-container-desk {
  display: none;
}

/* Scroll Buttons Mobile */
.movie-scroll-container-mob {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scroll Buttons Mobile */
.scroll-btn-mob {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--yellow-mellow-75);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  z-index: 2;
}

.scroll-btn-mob:hover,
.scroll-btn-mob:active {
  background-color: var(--yellow-mellow);
}

.left-scroll-mob {
  left: 30px;
}

.right-scroll-mob {
  right: 30px;
}

.scroll-btn-mob::before,
.scroll-btn-mob::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  width: 0;
}

.left-scroll-mob::before {
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.left-scroll-mob::after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.right-scroll-mob::before {
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.right-scroll-mob::after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

/* Movie Cards Text Wrapper */
.text-wrapper {
  background-color: #8faf7e;
  padding: 10px;
  width: 100%;
}

/* Index: Next month -------------------------------------------------- */

.heading-this-month {
  margin-top: 0;
}

.text-wrapper-nm {
  background-color: var(--yellow-mellow);
}

/* Index: Campaign ---------------------------------------------------- */

.campaign {
  color: var(--white-desert);
  margin: var(--global-column-gap) 0;
  display: flex;
  flex-direction: column;
  gap: var(--global-column-gap);
}

.campaign > div {
  background-color: var(--red-leather);
  padding: var(--global-margin) calc(var(--global-column-gap));
  min-height: 200px;
}

.campaign h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.campaign p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.marathon {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--global-column-gap);
}

.marathon > img {
  width: 28vw;
  height: 40vw;
}

.to-marathon {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
  position: relative;
  color: var(--white-desert);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: calc(var(--global-column-gap) / 2);
}

.to-marathon > img {
  width: 25px;
  height: auto;
  margin: none;
  position: absolute;
  top: 4px;
  right: -30px;
}

#email-input {
  vertical-align: top;
  font-size: 16px;
  width: 70%;
  max-width: 250px;
  height: 36px;
  padding: 10px 6px 12px 16px;
  border: none;
  outline: none;
  border-radius: 60px 0 0 60px;
  background-color: var(--yellow-mellow);
  color: var(--black);
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.newsletter label {
  color: transparent;
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.newsletter button {
  vertical-align: top;
  font-size: 16px;
  /* width: 20%;
  max-width: 70px; */
  height: 36px;
  padding: 8px 24px 8px 24px;
  border: none;
  outline: none;
  border-radius: 0 60px 60px 0;
  background-color: var(--green-pear);
  cursor: pointer;
}

.newsletter button > img {
  width: 25px;
  height: auto;
  margin: none;
  padding: none;
}
/* Movie: Hero ------------------------------------------------------- */
.hero.movie-page {
  background-image: url("images/movie-page-img/hero.png");
}

/* Movie: Main ------------------------------------------------------- */

/* Movie: Main-->Title booking card ---------------------------------------- */
.title-booking-card {
  background-color: var(--yellow-mellow);
  padding: 12px var(--global-margin);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-booking-card > h2 {
  font-size: 24px;
  font-weight: bold;
}

.title-booking-card span {
  font-size: 1rem;
  font-weight: normal;
}

.title-booking-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.title-booking-card .date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-booking-card .book-btn {
  color: var(--white-desert);
  background-color: var(--red-velvet);
  font-size: 24px;
  font-weight: medium;
  border-radius: 10px;
  border: 2px solid var(--red-velvet-dark);
  padding: 6px 12px;
  cursor: pointer;
}

/* Movie: Main-->Container ------------------------------------------------- */
main > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Movie: Main-->Container-->Column-details--------------------------------*/
.column-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: var(--global-margin);
  color: var(--white-desert);
}

.column-details h2::after {
  content: "+"; /* Unicode character for "plus" sign (+) */
  color: var(--white-desert);
  border: none;
  float: right;
  font-size: 1.5rem;
}

.column-details h2.expanded::after {
  content: "-"; /* Unicode character for "minus" sign (-) */
  padding-right: 2px;
}

.collapsible-content {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 250ms ease-in-out;
}

.collapsible-content.expanded {
  max-height: 500px;
}

.story > p,
.cast > div > div {
  font-weight: normal;
  font-size: 16px;
  margin-top: 0.5rem;
}

.cast > div {
  margin: 0.5rem 0 1rem 0;
}

/* Movie: Main-->Container-->Column-images--------------------------------*/
.column-images {
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.slider-slides {
  max-height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-color: transparent transparent;
}

.slider-slides::-webkit-scrollbar {
  display: none;
}

.slider-slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.slider-slide > img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
}

.arrow.right {
  right: 0;
  margin-right: 10px;
}

.arrow.left {
  left: 0;
  margin-left: 10px;
  transform: rotate(180deg);
}

/* Media queries------------------------------------------------ */

@media (min-width: 790px) {
  :root {
    --global-margin: 64px;
    --global-column-gap: 24px;
  }

  body {
    position: relative;
  }

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  /* Header ------------------------------------------------------ */
  header {
    height: 110px;
  }

  .header-desk {
    display: flex;
    justify-content: space-between;
    height: 110px;
  }

  .header-desk-content img {
    padding-bottom: 5px;
  }
  .title-mob {
    display: none;
  }

  .header-mob {
    display: none;
  }

  .title-desk {
    margin: 0;
    margin-bottom: 10px;
    font-size: 3.6em;
  }
  /* Header-->Navigation ----------------------------------------- */
  .nav-container-mob {
    display: flex;
  }
  .nav-container-desk {
    display: none;
  }
  .nav-container-mob {
    height: 110px;
    padding: 0 var(--global-margin);
  }

  .nav-container-mob > div > div {
    width: 35px;
    height: 3px;
    background-color: var(--black);
    margin: 6px 0;
  }

  /* Hero -------------------------------------------------------- */
  .hero {
    height: calc(100vh - 110px); /* Viewport height minus header */
  }

  .hero > .card {
    padding: var(--global-column-gap);
  }

  .hero > .card > h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .hero > .card > p {
    font-size: 24px;
  }

  .hero > button.play {
    width: 8vw;
    height: 8vw;
  }

  button.play > .triangle {
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-left: 4vw solid var(--black);
    transform: translateX(2.75vw);
  }

  /* Index: Hero -------------------------------------------------*/

  .hero.index > .card {
    left: var(--global-margin);
    bottom: var(--global-margin);
  }

  /* Index: This month -------------------------------------------------- */
  .movie-card-heading-mob {
    display: none;
  }

  .movie-card-container-mob {
    display: none;
  }

  .movie-scroll-container-mob {
    display: none;
  }

  /* Anchor Tag Settings Desktop */
  a {
    text-decoration: none;
    color: unset;
  }

  #movieCardContainer .movie-card-desk a img {
    width: 100%;
  }

  /* Heading Text Desktop */
  .movie-card-heading-desk {
    color: var(--white-desert);
    margin-left: var(--global-margin);
    margin-top: var(--global-margin);
    font-size: 34px;
  }

  .movie-card-heading-desk-nm {
    color: white;
    margin-left: var(--global-margin);
    font-size: 34px;
  }

  .movie-card-container-desk > div > img {
    width: 100%;
  }

  /* Movie Card Desktop Text Size */
  .movie-card-container-desk h2,
  .movie-card-container-desk p {
    font-size: 16px;
  }

  /* Movie Card Desktop Scroll */
  .movie-card-container-desk {
    display: flex;
    overflow-x: scroll;
    margin-left: var(--global-margin);
    margin-right: var(--global-margin);
    margin-bottom: var(--global-margin);
    margin-top: 30px;
    gap: 31px;
    scroll-snap-type: x mandatory;
    scrollbar-color: transparent transparent;
  }
  .movie-card-container-desk::-webkit-scrollbar {
    display: none;
  }

  .movie-card-container-desk::-webkit-scrollbar {
    display: none;
  }

  /* Movie Card Desktop Scroll */
  .movie-card-container-desk > div {
    width: calc(25% - var(--global-column-gap));
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  /* Scroll Buttons */
  .movie-scroll-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: var(--yellow-mellow-75);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
  }

  .scroll-btn:hover,
  .scroll-btn:active {
    background-color: var(--yellow-mellow);
  }

  .left-scroll {
    left: 50px;
  }

  .right-scroll {
    right: 60px;
  }

  .scroll-btn::before,
  .scroll-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    width: 0;
  }

  .left-scroll::before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  .left-scroll::after {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  .right-scroll::before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .right-scroll::after {
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  /* Index: Next month -------------------------------------------------- */

  /* Index: Campaign ---------------------------------------------------- */

  .campaign {
    color: var(--white-desert);
    margin: var(--global-column-gap) var(--global-margin);
    display: flex;
    flex-direction: row;
    gap: var(--global-column-gap);
  }

  .campaign > div {
    padding: var(--global-column-gap) var(--global-column-gap);
  }

  .campaign h2 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .campaign p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .marathon {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--global-column-gap);
    width: calc(50% - 12px);
  }

  .marathon > div {
    width: 65%;
  }

  .marathon .to-marathon {
    margin-top: 1rem;
  }

  .marathon > img {
    position: absolute;
    bottom: -80px;
    right: 20px;
    width: 13vw;
    height: 18vw;
  }

  .to-marathon {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-desert);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: calc(var(--global-column-gap) / 2);
    position: relative;
  }

  .to-marathon > img {
    width: 30px;
    height: auto;
    margin: none;
    position: absolute;
    top: 3px;
    right: -40px;
  }

  #email-input {
    vertical-align: top;
    font-size: 22px;
    width: 50%;
    height: 40px;
    padding: 10px 6px 12px 20px;
    border: none;
    outline: none;
    border-radius: 60px 0 0 60px;
    background-color: var(--yellow-mellow);
    color: var(--black);
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(50% - 12px);
    gap: 0;
  }

  .newsletter label {
    color: transparent;
    font-size: 16px;
  }

  .newsletter button {
    vertical-align: top;
    font-size: 22px;
    width: 60px;
    height: 40px;
    padding: 8px 12px 5px 8px;
    border: none;
    outline: none;
    border-radius: 0 60px 60px 0;
    background-color: var(--green-pear);
    cursor: pointer;
  }

  .newsletter button > img {
    width: 30px;
    height: auto;
    margin: none;
    padding: none;
  }
  /* Movie: Hero ------------------------------------------------------- */

  /* Movie: Main ------------------------------------------------------- */
  main {
    position: absolute;
    z-index: 5;
    top: 89vh;
  }

  /* Movie: Main-->Title booking card ---------------------------------------- */
  .title-booking-card {
    margin-left: var(--global-margin);
    background-color: var(--yellow-mellow-95);
    padding: var(--global-column-gap);
    width: calc(50% - var(--global-margin) - 9vw);
    margin-bottom: var(--global-column-gap);
  }

  .title-booking-card > h2 {
    font-size: 36px;
  }

  .title-booking-card span {
    font-size: 24px;
  }

  .title-booking-card .director {
    margin-top: 16px;
  }

  .title-booking-card > div {
    margin-top: var(--global-column-gap);
  }

  .title-booking-card .date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-booking-card .book-btn {
    font-size: 32;
    padding: 8px 16px;
  }
  .title-booking-card .book-btn:hover {
    background-color: var(--red-velvet-dark);
  }

  /* Movie: Main-->Container ------------------------------------------------- */

  /* Movie: Main-->Container-->Column-details--------------------------------*/
  .column-details {
    width: calc(50% - var(--global-margin));
    padding-right: 9vw;
    margin: var(--global-column-gap) 0 var(--global-column-gap)
      var(--global-margin);
    justify-content: flex-start;
  }

  .story,
  .cast {
    margin: 0 var(--global-column-gap);
  }

  .column-details h2::after {
    content: "";
  }

  .column-details h2.expanded::after {
    content: "";
  }

  /* Movie: Main-->Container-->Column-images--------------------------------*/
  .column-images {
    width: calc(50% - var(--global-margin));
    margin: var(--global-column-gap);
  }

  .slider-slides {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    overflow-x: auto;
    gap: var(--global-column-gap);
    max-height: unset;
  }

  .slider-slide {
    display: block;
    width: fit-content;
  }

  .slider-slide > img {
    width: 22vw;
  }
}

@media (min-width: 900px) {
  /* Heaöer*/

  .title-desk {
    margin: 0;
    font-size: 4.2em;
  }

  /* Footer ------------------------------------------------------ */
  footer {
    padding: 12px;
    display: flex;
    gap: 12px;
  }

  div.footer-card,
  div.footer-card.desktop-only {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
  }

  div.footer-card:nth-of-type(1),
  div.footer-card:nth-of-type(2),
  div.footer-card:nth-of-type(3) {
    border-right: 2px solid var(--white-desert);
  }

  footer h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  footer span {
    font-size: 18px;
  }

  .footer-card > div {
    gap: var(--global-column-gap);
  }

  footer img {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1220px) {
  /* Header ------------------------------------------------------ */
  header {
    height: 110px;
  }

  .header-desk {
    display: flex;
  }

  .title-mob {
    display: none;
  }

  .header-mob {
    display: none;
  }

  /* Header-->Navigation ----------------------------------------- */
  .nav-container-mob {
    display: none;
  }
  .nav-container-desk {
    display: flex;
  }
}
