:root {
  --black: #1c1817;
  --whitedesert: #fffdeb;
  --redvelvet: #c81d04;
  --global-margin: 24px;
  --global-column-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--black);
}

/* Header ------------------------------------------------------ */

/* Header-->Navigation ----------------------------------------- */

/* Hero -------------------------------------------------------- */

/* Footer ------------------------------------------------------ */

/* Index: This month -------------------------------------------------- */

/* Index: Next month -------------------------------------------------- */

/* Index: Campaign ---------------------------------------------------- */

/* Movie: Main ------------------------------------------------------- */

/* Movie: Main-->Title booking card ---------------------------------------- */

/* Movie: Main-->Container ------------------------------------------------- */

/* Media queries------------------------------------------------ */

@media (min-width: 700px) {
  :root {
    --global-margin: 64px;
    --global-column-gap: 24px;
  }

  /* Header ------------------------------------------------------ */

  /* Header-->Navigation ----------------------------------------- */

  /* Hero -------------------------------------------------------- */

  /* Footer ------------------------------------------------------ */

  /* Index: This month -------------------------------------------------- */

  /* Index: Next month -------------------------------------------------- */

  /* Index: Campaign ---------------------------------------------------- */

  /* Movie: Main ------------------------------------------------------- */

  /* Movie: Main-->Title booking card ---------------------------------------- */

  /* Movie: Main-->Container ------------------------------------------------- */

  /* Media queries------------------------------------------------ */
}
