:root {
  --black: #1c1817;
  --green-pear: #8faf7e;
  --white-desert: #fffdeb;
  --red-leather: #463131;
  --red-velvet: #c81d04;
  --yellow-mellow: #faef8a;
  --yellow-mellow-75: #faef8abf;

  --global-margin: 24px;
  --global-column-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--black);
}

body {
  background-color: var(--black);
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

/* Header ------------------------------------------------------ */
header {
  background-color: var(--white-desert);
  background: linear-gradient(
    to top,
    #000000 1px,
    #000000 1px,
    var(--white-desert) 1px,
    var(--white-desert) 30px
  );
  background-size: 100% 26px;  
}

header img {
  max-height: 100%;
  max-width: 70px;
  margin-left: 20px;
}

.header-mob {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-desk {
  display: flex;
}

.header-desk-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-desk img {
  display: flex;
  margin-top: 10px;
}

.title-mob {
  margin: 0;
  font-size: 3em;
}

.title-desk-content {
  margin-left: 50px;
}

.title-desk {
  margin: 0;
  font-size: 4.3em;
}

/* Header-->Navigation ----------------------------------------- */
.nav-container-mob div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  margin-right: 20px;
}

.nav-container-desk {
  display: flex;
  gap: 30px;
  margin-top: 80px;
  margin-right: 40px;
  margin-left: auto;
}

.nav-container-desk p {
  margin-right: 20px;
}

.nav-container-desk p:last-child {
  margin-right: 0;
}

/* Hero -------------------------------------------------------- */
.hero {
  background-color: var(--black); /* Used if the image is unavailable */
  height: 56.25vw; /* 56% of viewport width */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero > .card {
  padding: 8px 8px 8px var(--global-margin);
  background-color: var(--yellow-mellow-75);
  cursor: pointer;
}

.hero > .card:hover,
.hero > .card:active {
  background-color: var(--yellow-mellow);
}

.hero > .card > h2 {
  font-size: 16px;
  font-weight: bold;
}

/*Circular button with no border or outline*/
.hero > button.play {
  background-color: var(--yellow-mellow-75);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.hero > button.play:hover,
.hero > button.play:active {
  background-color: var(--yellow-mellow);
}

/*Play button triangle*/
button.play > .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--black);
  transform: translateX(10px);
  opacity: 0.25;
  transition: color 150ms ease-in-out;
}
/* Footer ------------------------------------------------------ */

/* Index: Hero -------------------------------------------------------- */
.hero.index {
  background-image: url("images/hero.png");
}

.hero.index > .card {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Index: This month -------------------------------------------------- */

/* Index: Next month -------------------------------------------------- */

/* Index: Campaign ---------------------------------------------------- */

/* Movie: Hero ------------------------------------------------------- */
.hero.movie-page {
  background-image: url("images/movie-page-img/hero.png");
}

/* Movie: Main ------------------------------------------------------- */

/* Movie: Main-->Title booking card ---------------------------------------- */

/* Movie: Main-->Container ------------------------------------------------- */

/* Media queries------------------------------------------------ */

@media (min-width: 700px) {
  :root {
    --global-margin: 64px;
    --global-column-gap: 24px;
  }

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  /* Header ------------------------------------------------------ */
  header {
    height: 110px;
  }

  .title-mob {
    display: none;
  }

  .header-mob {
    display: none;
  }

  /* Header-->Navigation ----------------------------------------- */
  .nav-container-mob {
    display: none;
  }

  /* Hero -------------------------------------------------------- */
  .hero {
    height: calc(100vh - 110px); /* Viewport height minus header */
  }

  .hero > .card {
    padding: var(--global-column-gap);
  }

  .hero > .card > h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .hero > .card > p {
    font-size: 24px;
  }

  .hero > button.play {
    width: 8vw;
    height: 8vw;
  }

  button.play > .triangle {
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-left: 4vw solid var(--black);
    transform: translateX(2.75vw);
  }
  /* Footer ------------------------------------------------------ */

  /* Index: Hero -------------------------------------------------*/

  .hero.index > .card {
    left: var(--global-margin);
    bottom: var(--global-margin);
  }

  /* Index: This month -------------------------------------------------- */

  /* Index: Next month -------------------------------------------------- */

  /* Index: Campaign ---------------------------------------------------- */

  /* Movie: Hero ------------------------------------------------------- */

  /* Movie: Main ------------------------------------------------------- */

  /* Movie: Main-->Title booking card ---------------------------------------- */

  /* Movie: Main-->Container ------------------------------------------------- */

  /* Media queries------------------------------------------------ */
}
